.billingContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.billingContainer > h1{
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.billingContainer > .infoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.billingContainer > .infoContainer > .labelInfo{
    width: 35%;
    margin-bottom: 20px;
}

.billingContainer > .infoContainer > .labelInfo > h2{
    font-size: 18px;
    font-weight: 600;
}

.billingContainer > .infoContainer > .editBtn{
    position: absolute;
    right: 25px;
    top: 15px;
    background-color: blue;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .billingContainer > .infoContainer > .labelInfo{
        width: 90%;
    }
}